<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Voice Prescription</title>
    
      <style>
          h3{
              color:#4682B4;
              font-size:60px;
              text-shadow:#808080;
              font-family:sans-serif;
          }
          button{
              background-color:#4682B4;
              border-radius:20px;
              height:40px;
              width:150px;
              color:white;
          }
    </style>
    </head>
    <body>
        <div style="float:left">
        <img src="https://static.wixstatic.com/media/570bfa_fce609ff69174616a4de845074616b81~mv2.gif" alt="">
    </div>
        <center>
        <h3>VOICE PRESCRIPTION</h3>
        <a href="/login"><button >LOGIN</button></a>
        <a href="/register"><button>REGISTER</button></a>
        </center>
        
        
        
    </body>
</html>