<!doctype html>
<html>
    <head>
        <title>Register</title>
        <style>
        h1{
            color:#4682B4;
            font-size:40px;
            font-family:sans-serif;
        }
            label{
                 font-size:20px;
                font-family:sans-serif;
            }
            input[type="submit"]{
                height:40px;
                width:200px;
                background-color:#4682B4;
                border-radius:20px;
                color:white;
                font-family:sans-serif;
            }
            input[type="text"]{
                
                height:20px;
                width:200px;
                border-radius:20px;
                font-family:sans-serif;
            }
            input[type="password"]{
                
                height:20px;
                width:200px;
                border-radius:20px;
                font-family:sans-serif;
            }
        </style>
    </head>
    <body>
        <div style="float:left">
        <img src="https://rurutek.com/jio/assets/img/login-animate.gif" alt="" style="hieght:500px;width:500px;">
    </div>
        
        <form action="/login" method="POST">
            <br><br><br>
        <center>
        <h1>Welcome to Login Page</h1>
        <label>Username</label>
        <input type="text" name="luname"><br>
            <br>
        <label>Password</label>
             <input type="password" name="lpass"><br>
            <br><br>
       <input type="submit" value="LOGIN">
            </center>
            </form>
    </body>
</html>